@import '../css/variables';

.btn {
  display: flex;
  justify-content: center;
  padding-left: 1px; //offset letter-spacing
  align-items: center;
  height: 5.6rem;
  width: 15.2rem;
  font-size: 1.5rem;
  line-height: 2.2rem;
  letter-spacing: 1px;
  text-transform: uppercase;
  text-decoration: none;
  text-align: center;
  border: 0 none #000;
  border-radius: 8px;
  z-index: 10;
  transition: color 0.2s, background-color 0.2s, opacity 0.3s;

  &--white {
    color: var(--color-secondary-dark, #333136);
    background-color: var(--color-primary-light, #fff);
    font-weight: 600;
  }

  &--primary {
    color: var(--color-primary-light, #fff);
    background-color: var(--color-primary-peach, #e7816b);
  }

  &:disabled {
    opacity: 0.5;
  }

  &:hover,
  &:active {
    @media (min-width: $media-l) {
      color: var(--color-primary-light, #fff);
      background-color: var(--color-secondary-peach, #ffad9b);
    }
  }
}
