@import '../css/variables';

$card-m: 691px;
$card-l: 950px;

.cards {
  display: grid;
  grid-template-columns: 1fr;
  grid-auto-rows: auto;
  gap: 4rem;
  max-width: 40rem;
  margin: 0 auto;

  @media (min-width: $card-m) {
    gap: 3.2rem;
    max-width: none;
  }
  @media (min-width: $card-l) {
    grid-template-columns: repeat(3, 1fr);
    gap: 32px 30px;
  }

  &__card {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    align-items: center;
    border-radius: 15px;
    overflow: hidden;
    transition: background-color 0.2s;
    background-color: #fdf3f0;

    @media (min-width: $card-m) {
      // grid-template-columns: 339px 1fr;
      grid-template-columns: 49.27% 1fr; // 339/688
      grid-template-rows: auto;
    }

    @media (min-width: $card-l) {
      grid-template-columns: 1fr;
      grid-template-rows: auto 1fr;
      align-items: start;

      &:hover {
        cursor: pointer;
        background-color: var(--color-primary-peach, #e7816b);

        .cards__copy span {
          color: var(--color-primary-light, #fff);
        }
        .cards__copy p {
          color: var(--color-primary-light, #fff);
        }
      }
    }
  }

  img {
    display: block;
    max-width: 100%;
  }

  &__copy {
    // padding: 32px 30px;
    padding: 32px 8.56%;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto auto;
    gap: 1.6rem;
    justify-items: center;
    text-align: center;

    span {
      display: block;
      padding-left: 5px;
      font-size: 2rem;
      font-weight: 600;
      line-height: 2.6rem;
      letter-spacing: 5px;
      text-transform: uppercase;
      transition: color 0.2s;
      color: var(--color-primary-peach, #e7816b);
    }

    p {
      max-width: 32.7rem;
      font-size: 1.6rem;
      line-height: 2.6rem;
      transition: color 0.2s;
      color: var(--color-secondary-dark, #333136);
    }
  }
}

.view {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;

  &__box {
    position: relative;
    width: 95%;
    max-width: 525px;

    @media (min-width: $media-l) {
      max-width: 700px;
    }
  }

  &__btn {
    display: inline-block;
    position: absolute;
    top: calc(-10px - 3rem);
    right: 0;
    border: 0;
    background-color: transparent;
  }

  &__icon {
    display: block;
    height: 3rem;
    width: 3rem;
    fill: #fff;

    path {
      fill: inherit;
    }
  }

  img {
    display: block;
    width: 100%;

    @media (min-width: $media-l) {
      max-width: 700px;
    }
  }
}
