@import '../css/variables';

.content {
  position: relative;
  padding: 80px 24px;
  text-align: center;
  background-color: #fdf3f0;
  overflow: hidden;

  @media (min-width: $media-m) {
    padding: 68px 58px;
  }
  @media (min-width: $media-l) {
    // padding: 154px 96px 154px 94px;
    // Base padding on el width (assigned 1fr by .frame element)
    padding: 24.25% 96px 24.25% 94px;
    align-items: flex-start;
    text-align: left;
  }

  // &.content--e
  &--e {
    padding-bottom: 105px;
    @media (min-width: $media-m) {
      padding-bottom: 94px;
    }
    @media (min-width: $media-l) {
      // padding: 154px 94px 154px 95px;
      padding: 24.25% 94px 24.25% 95px;
    }
  }

  &__copy {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 5;

    @media (min-width: $media-l) {
      align-items: flex-start;
    }

    span {
      display: block;
      margin: 0 0 2.4rem 0;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 3.6rem;
      z-index: 5;
      color: var(--color-primary-peach, #e7816b);

      @media (min-width: $media-m) {
        font-size: 4rem;
        line-height: 4.8rem;
      }
    }

    p {
      max-width: 44rem;
      font-size: 1.5rem;
      line-height: 2.5rem;
      z-index: 5;
      color: var(--color-secondary-dark, #333136);

      @media (min-width: $media-m) {
        max-width: 57.2rem;
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    & p:first-of-type {
      margin-bottom: 2.5rem;
      @media (min-width: $media-m) {
        margin-bottom: 2.6rem;
      }
    }
  }
}
