@import '../css/variables';

.cta {
  position: relative;
  width: calc(100% - 48px);
  max-width: $width-max;
  margin: 0 auto;
  padding: 64px 24px;
  overflow: hidden;

  border-radius: 15px;
  color: var(--color-primary-light, #fff);
  background-color: var(--color-primary-peach, #e7816b);

  @media (min-width: $media-m) {
    padding: 57px 57px;
    width: calc(100% - 78px);
  }
  @media (min-width: $cta-l) {
    padding: 72px 95px;
  }

  &__bg {
    position: absolute;
    // display: block;
    bottom: 0;
    right: -154px;
    height: 100%;
    width: auto;
    transform: scale(160%);
    background-image: url(../imgs/shared/desktop/bg-pattern-call-to-action.svg);
    background-size: cover; // keyword | unit
    // background-repeat: no-repeat;
    z-index: 5;

    @media (min-width: $media-m) {
      transform: scale(170%);
      right: 2%;
    }
    @media (min-width: $cta-l) {
      transform: scale(200%);
      right: 19%;
    }
  }

  &__content {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 10;

    @media (min-width: $cta-l) {
      flex-direction: row;
      justify-content: space-between;
      text-align: left;
    }

    .copy {
      max-width: 44rem;
    }

    span {
      display: block;
      font-size: 3.2rem;
      font-weight: 500;
      line-height: 3.6rem;

      @media (min-width: $media-m) {
        font-size: 4rem;
        line-height: 100%;
      }
    }

    p {
      margin: 1.6rem 0 3.2rem 0;
      font-size: 1.5rem;
      line-height: 2.5rem;
      font-weight: 400;

      @media (min-width: $media-m) {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
      @media (min-width: $cta-l) {
        margin: 1.6rem 0 0 0;
      }
    }
  }
}
