@import '../css/variables';

.hero {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;

  color: var(--color-primary-light, #fff);
  background-color: var(--color-primary-peach, #e7816b);
  overflow: hidden;

  // Box modifiers /////
  &--main {
    padding: 80px 24px 451px 24px;

    @media (min-width: $media-m) {
      padding: 60px 58px 457px 58px;
    }
    @media (min-width: $media-l) {
      padding: 145px 95px;
      align-items: flex-start;
    }
  }

  &--design {
    padding: 105px 24px;

    @media (min-width: $media-m) {
      padding: 64px 58px;
    }
    @media (min-width: $media-l) {
      padding: 64px 190px;
    }
  }

  &--about {
    padding: 80px 24px;

    @media (min-width: $media-m) {
      padding: 64px 58px;
    }
    @media (min-width: $media-l) {
      // padding: 135px 70px 135px 95px;
      padding: 135px 30px 135px 95px;
      align-items: flex-start;
      justify-content: center;
    }
  }

  &--contact {
    padding: 72px 24px;

    @media (min-width: $media-m) {
      padding: 71px 58px;
      align-items: flex-start;
    }
    @media (min-width: $media-l) {
      padding: 55px 95px 54px 95px;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
  }

  // text container /////
  &__copy {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    z-index: 5;

    // Sets max text width
    &--main,
    &--design,
    &--contact {
      max-width: 32.7rem;
      @media (min-width: $media-m) {
        max-width: 57.3rem;
      }
    }

    &--about {
      max-width: 44rem;
      @media (min-width: $media-m) {
        max-width: 57.3rem;
      }
    }

    // Sets alignment
    &--main,
    &--about {
      @media (min-width: $media-l) {
        align-items: flex-start;
        text-align: left;
      }
    }

    &--contact {
      @media (min-width: $media-m) {
        align-items: flex-start;
        text-align: left;
      }
    }

    h1 {
      font-size: 3.2rem;
      line-height: 3.6rem;
      font-weight: 500;
      text-transform: capitalize;

      @media (min-width: $media-m) {
        font-size: 4.8rem;
        line-height: 4.8rem;
      }
    }

    p {
      font-size: 1.5rem;
      line-height: 2.5rem;
      margin-top: 2.4rem;

      @media (min-width: $media-m) {
        font-size: 1.6rem;
        line-height: 2.6rem;
      }
    }

    &--main p {
      margin-bottom: 2.4rem;

      @media (min-width: $media-m) {
        max-width: 44rem;
      }
      @media (min-width: $media-l) {
        margin: 3.3rem 0 3.9rem 0;
      }
    }

    &--design p {
      @media (min-width: $media-m) {
        max-width: 39rem;
      }
    }

    &--about p,
    &--contact p {
      @media (min-width: $media-m) {
        margin-top: 3.2rem;
      }
      @media (min-width: $media-l) {
        max-width: 46rem;
      }
    }
  }

  // home page only /////
  &__img-wrapper {
    position: absolute;
    width: 284px;
    height: 573px;
    z-index: 3;
    bottom: -202px;
    right: 50%;
    transform: translate(50%, 0);

    @media (min-width: $media-m) {
      bottom: -185px;
    }
    @media (min-width: $media-l) {
      bottom: -72px;
      right: 95px;
      transform: translate(0, 0);
    }
  }

  &__img {
    position: relative;
    height: 100%;
    transform: scale(1.59);
    left: -18.9%;
  }
}
