@import '../css/variables';

.footer {
  padding: 64px 24px;
  color: var(--color-primary-light, #fff);
  background-color: var(--color-primary-dark, #1d1c1e);

  @media (min-width: $media-m) {
    padding: 8rem 0;
  }
  @media (min-width: $media-l) {
    padding: 7.2rem 0;
  }

  &__nav,
  &__info {
    @media (min-width: $media-m) {
      margin: 0 auto;
      width: calc(100% - 78px);
      max-width: $width-max;
    }
  }

  // Group 1 ////////////////
  &__nav {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    @media (min-width: $media-m) {
      flex-direction: row;
      padding: 0 0 3.9rem 0;
      border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    }
  }

  &__nav-links {
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: repeat(3, auto);
    gap: 3.2rem;
    justify-items: center;
    padding: 3.2rem 0 4rem 0;

    @media (min-width: $media-m) {
      padding: 0 0 0 1rem;
      grid-template-columns: repeat(3, auto);
      grid-template-rows: auto;
      align-items: center;
      gap: 42px;
      text-align: right;
    }
    // li elements get padding, reduce gap
    @media (min-width: $media-l) {
      gap: 39px;
    }

    li {
      font-size: 1.4rem;
      line-height: 100%;

      a:link,
      a:visited {
        letter-spacing: 2px;
        text-transform: uppercase;
        font-weight: 400;
        color: var(--color-primary-light, #fff);
        transition: border-bottom 0.1s;

        @media (min-width: $media-l) {
          padding: 0 0 0 2px;
          border-bottom: 1px solid transparent;
        }
      }

      a:hover,
      a:active {
        @media (min-width: $media-l) {
          border-bottom: 1px solid var(--color-primary-light, #fff);
        }
      }
    }
  }

  &__logo-box {
    display: flex;
    justify-content: center;
    width: 100%;
    padding: 0 0 3.2rem 0;
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);

    @media (min-width: $media-m) {
      width: auto;
      padding: 0;
      border: none;
    }
  }

  // Group 2 ////////////////
  &__info {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: repeat(2, auto);
    justify-items: center;
    gap: 4rem;

    @media (min-width: $media-m) {
      padding: 1.2rem 0 0 0;
      grid-template-columns: 1fr auto;
      grid-template-rows: auto;
      align-items: end;
      gap: 2rem;
    }
  }

  &__location {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    opacity: 0.5;

    @media (min-width: $media-m) {
      flex-wrap: wrap;
      flex-direction: row;
      justify-content: flex-start;
      text-align: left;
    }

    ul:first-child {
      @media (min-width: $media-m) {
        padding: 2rem 60px 0 0;
      }
      @media (min-width: $media-l) {
        padding-right: 210px;
      }
    }

    ul:last-child {
      padding-top: 4rem;
      @media (min-width: $media-m) {
        padding-top: 2rem;
        font-weight: bold;
      }
    }

    li {
      font-size: 1.6rem;
      line-height: 162%;

      &:first-child {
        font-weight: bold;
      }
    }
  }
}
