@import '../css/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: $header-height;
  overflow: hidden;
  z-index: 100;
  background-color: var(--primary-color-light, #fff);
  transition: height 0.2s;

  @media (min-width: $media-m) {
    position: absolute;
    height: $header-height-m;
    display: flex;
    flex-direction: column;
    // navbar height is set to auto, center el
    justify-content: center;
  }

  &--open {
    height: calc($header-height + 23.5rem); // 96 (base) + 235

    // Auto collapse el on +tablet if class is active
    @media (min-width: $media-m) {
      height: $header-height-m;
    }
  }
}

.navbar {
  height: 100%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: $header-height 1fr;

  @media (min-width: $media-m) {
    height: auto;
    grid-template-columns: 1fr auto;
    grid-template-rows: auto;
    align-items: center;
    width: calc(100% - 80px);
    max-width: $width-max;
    margin: 0 auto;
  }

  // Positions logo + menu open/close btn
  &__left {
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto;
    justify-items: end; // HORIZONTAL
    align-items: center; // VERTICAL
    padding: 0 24px;

    @media (min-width: $media-m) {
      padding: 0;
    }
  }

  &__right {
    // Expand into free space when nav bar is opened
    height: 100%;
    padding: 48px 24px;

    // Position li elements
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--color-primary-dark, #1d1c1e);

    // +tablet
    @media (min-width: $media-m) {
      flex-direction: row;
      // scale down nav bar to min space required
      height: auto;
      width: auto;
      // Adjust so navbar aligns with logo
      padding: 2px 0 0 0; // 0
      background-color: inherit;
    }

    li {
      display: block;
      font-size: 2.4rem;
      line-height: 2.5rem;

      @media (min-width: $media-m) {
        font-size: 1.4rem;
        line-height: 1.4rem;

        &:not(:last-child) {
          margin-right: 38px; // 3.8rem
        }
      }

      a {
        display: inline-block;
        text-transform: uppercase;
        letter-spacing: 2px;
        transition: border-bottom 0.1s;

        @media (min-width: $media-m) {
          border-bottom: 1px solid transparent;
          // compensate for effect letter spacing has on underline length
          padding: 0 0 0 2px;
        }

        &:link,
        &:visited {
          color: var(--color-primary-light, #fff);

          @media (min-width: $media-m) {
            color: var(--color-secondary-dark, #333136);
          }
        }

        &:hover,
        &:active {
          @media (min-width: $media-l) {
            border-bottom: 1px solid #1d1c1e;
          }
        }
      }
    }
  }

  &__button {
    height: 2rem;
    width: 2.4rem;
    border: 0 none #f1f3f5;
    border-radius: 0;
    background-color: inherit;

    @media (min-width: $media-m) {
      display: none;
    }

    svg {
      height: 100%;
      width: auto;
    }
  }
}
