@import '../css/variables';

.s {
  overflow: hidden;

  &--s1 {
    width: 100%;
    max-width: 68.9rem;

    @media (min-width: $media-m) {
      width: calc(100% - 80px);
      max-width: $width-max;
    }
  }

  &--s2 {
    width: calc(100% - 48px);
    max-width: 68.9rem;

    @media (min-width: $media-m) {
      width: calc(100% - 80px);
      max-width: $width-max;
    }
  }

  &--r {
    @media (min-width: $media-s) {
      border-radius: 15px;
    }
  }

  &--shift {
    margin-top: -12rem;
    @media (min-width: $media-s) {
      margin: 0;
    }
  }
}
