@import '../css/variables';

.s {
  width: 100%;
  overflow: hidden;

  &--l {
    // max-width: calc(100% - 24px);
    max-width: 32.7rem;

    @media (min-width: $media-m) {
      // max-width: none;
      max-width: 68.9rem;
    }
    @media (min-width: $media-l) {
      max-width: none;
    }
  }

  &--r {
    @media (min-width: 691px) {
      border-radius: 15px;
    }
  }
}
